body {
    background-image: url(background.jpg);
    /*background-repeat: no-repeat;*/
    /*background-position: 100% 10%; */
    /*background-position: right center; */
    /*background-size: cover; */
    /* background-attachment: fixed;*/
}

h3 {
    color: green;
}

.foto-principal {
    border: 5px solid black
}

#titulo-principal{
    color: brown;
}
