/*body {
    /*background-image: url(background.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 100% 10%; */
    /*background-position: right center; */
    /*background-size: cover; */
    /* background-attachment: fixed;*/


h3 {
    color: green;
}

.foto-principal {
    width: 200px;
    border: 2px solid white;
    border-radius: 25% 25%;
    /*
    border-width:5px
    border-style:solid
    border-color black*/
}

#titulo-principal{
    color: brown;
}